.header{
    height:60px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(228,228,228);
    z-index:100;
}

.left-section{
    display:flex;
    align-items:center;
}

.hamburger-menu{
    height:30px;
    margin-right: 24px;
    margin-left:24px;
}

.yt-logo{
    height: 24px;
    vertical-align: top;
}

.middle-section{
    display:flex;
    flex:1;
    margin-left: 70px;
    margin-right:40px;
    max-width:500px;
    align-items:center;
}

.search-bar::placeholder{
    font-family:'Roboto', Arial;
    font-size:16px;
}

.search-bar{
    flex:1;
    height:36px;
    padding-left:10px;
    font-size:16px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(192,192,192);
    border-radius:2px;
    box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0;
}

.search-button{
    width:50px;
    height:40px;
    object-fit:contain;
    background-color:rgb(240,240,240);
    border-style:solid;
    border-width:1px;
    border-color:rgb(192,192,192);
    margin-left:-1px;
    margin-right:12px;
    border-radius: 2px;
    position:relative;
}

.search-button .tool-tip{
    position:absolute;
    bottom:-32px;
    right: 1px;
    background-color: grey;
    color:white;
    padding: 4px 4px 4px 4px;
    border-radius:2px;
    opacity:0;
    transition: 0.15s ease-in;
    pointer-events: none;
}

.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip{
    opacity:1;
    cursor:pointer;
}

.voice-search-button{
    width:40px;
    height:40px;
    object-fit: contain;
    border-radius:20px;
    border:none;
    background-color:rgb(245, 245, 245);
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.voice-search-button .tool-tip{
    position:absolute;
    background-color: grey;
    color:white;
    padding: 4px 4px 4px 4px;
    border-radius:2px;
    opacity:0;
    transition: 0.15s ease-in;
    pointer-events: none;
    white-space: nowrap;
    bottom:-32px;
}

.search-icon{
    height:25px;
}

.voice-search-icon{
    height:24px;
}

.right-section{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:200px;
    margin-right:24px;
    flex-shrink:0;
}

.upload-icon{
    height:24px;
}

.yt-apps-icon{
    height:24px;
}

.notifications-icon{
    height:24px;
}

.my-channel-icon{
    height:32px;
    border-radius:16px
}

.notification-count-container{
    position:relative;
}

.notification-count{
    position:absolute;
    top:0;
    right:0px;
    background-color:red ;
    color:white;
    border-radius:100%;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:4px;
    padding-left:4px;
    margin-top:-5px;
    margin-right:-2px;
    margin-left:40px;
    font-size:11px;
}
