.video-title{
    font-weight:500;
    font-size: 14px;
    margin-bottom:6px;
    line-height:20px;
    margin-top:0px;
}

.video-stats,.video-author{
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom:1px;
    margin-top:0px;
}

.thumbnail{
    width:100%;
}

.channel-pic{
    width:36px;
}

.channel-photo{
    border-radius:36px;
    width:90%;
}

.video-info-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
    column-gap:8px;
}

.thumbnails{
    margin-top:0px;
    margin-bottom:4px;
    position:relative;
}

.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:20px;
    row-gap:30px;
    margin-top:80px;
    margin-left:100px;
    margin-right:25px;
}

@media(max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width:999px) and (min-width:751){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.duration{
    background-color: black;
    position:absolute;
    color:white;
    right:10px;
    bottom:10px;
    font-size:14px;
    width:fit-content;
    border-radius:2px;
    padding:4px;
}